<h4> This title comes from Products Component. Title = {{title}} </h4>
<br />
<app-productList [productList]="productList"></app-productList>

<h4 style="padding-left: 2%;"> Bellow are the children component </h4>
<!-- <div id="childContainer">
    <div id="childOne">
        <app-pListChildOne (newListOutput)="setNewProductlist($event)"></app-pListChildOne>
    </div>
    <div id="childTwo">
        <app-pListChildTwo style="float: left;"></app-pListChildTwo>
    </div>
</div> -->
<div id="childOne">
    <app-pListChildOne (newListOutput)="setNewProductlist($event)"></app-pListChildOne>
</div>
<div id="childTwo">
    <app-pListChildTwo style="float: left;"></app-pListChildTwo>
</div>